{{ define "skeleton_vote_ui.html" }}
  <div class="skeleton-container">

    <div class="meal-card skeleton-card">
      <div class="meal-card__summary">
        <div class="meal-card__summary-left">
          <div class="skeleton skeleton-title"></div>
          <div class="skeleton skeleton-text"></div>
        </div>

        <div class="meal-card__summary-right">
          <div class="skeleton skeleton-stars"></div>
        </div>
      </div>
    </div>

    <div class="meal-card skeleton-card">
      <div class="meal-card__summary">
        <div class="meal-card__summary-left">
          <div class="skeleton skeleton-title"></div>
          <div class="skeleton skeleton-text"></div>
        </div>

        <div class="meal-card__summary-right">
          <div class="skeleton skeleton-stars"></div>
        </div>
      </div>
    </div>

    <div class="meal-card skeleton-card">
      <div class="meal-card__summary">
        <div class="meal-card__summary-left">
          <div class="skeleton skeleton-title"></div>
          <div class="skeleton skeleton-text"></div>
        </div>

        <div class="meal-card__summary-right">
          <div class="skeleton skeleton-stars"></div>
        </div>
      </div>
    </div>

  </div>
{{ end }}