{{ define "vote_form_block.html" }}
  <div>
    <h2>{{ index .T "ui.vote_title" }}</h2>

    {{ if .BreakfastAvailability.IsAvailable }}
      {{ template "meal_form_block.html" (dict
        "DeviceId" .DeviceId
        "PhoneModel" .PhoneModel
        "Browser" .Browser
        "MealType" "breakfast"
        "Item" (findMeal .Vote "breakfast")
        "ActiveMeal" .ActiveMeal
        "SuccessMessage" .SuccessMessage
        "AccessRestricted" .AccessRestricted
        "AccessReason" .AccessReason
        "AccessDismissible" .AccessDismissible
        "PrefillMealType" .PrefillMealType
        "PrefillRating" .PrefillRating
        "PrefillReview" .PrefillReview
        "T" .T
      ) }}
    {{ else }}
      {{ template "meal_unavailable_block.html" (dict
        "MealType" "breakfast"
        "OpensAt" .BreakfastAvailability.OpensAt
        "MinutesUntilOpen" .BreakfastAvailability.MinutesUntilOpen
        "ServerNowISO" .ServerNowISO
        "T" .T
      ) }}
    {{ end }}

    {{ if .LunchAvailability.IsAvailable }}
      {{ template "meal_form_block.html" (dict
        "DeviceId" .DeviceId
        "PhoneModel" .PhoneModel
        "Browser" .Browser
        "MealType" "lunch"
        "Item" (findMeal .Vote "lunch")
        "ActiveMeal" .ActiveMeal
        "SuccessMessage" .SuccessMessage
        "AccessRestricted" .AccessRestricted
        "AccessReason" .AccessReason
        "AccessDismissible" .AccessDismissible
        "PrefillMealType" .PrefillMealType
        "PrefillRating" .PrefillRating
        "PrefillReview" .PrefillReview
        "T" .T
      ) }}
    {{ else }}
      {{ template "meal_unavailable_block.html" (dict
        "MealType" "lunch"
        "OpensAt" .LunchAvailability.OpensAt
        "MinutesUntilOpen" .LunchAvailability.MinutesUntilOpen
        "ServerNowISO" .ServerNowISO
        "T" .T
      ) }}
    {{ end }}

    {{ if .DinnerAvailability.IsAvailable }}
      {{ template "meal_form_block.html" (dict
        "DeviceId" .DeviceId
        "PhoneModel" .PhoneModel
        "Browser" .Browser
        "MealType" "dinner"
        "Item" (findMeal .Vote "dinner")
        "ActiveMeal" .ActiveMeal
        "SuccessMessage" .SuccessMessage
        "AccessRestricted" .AccessRestricted
        "AccessReason" .AccessReason
        "AccessDismissible" .AccessDismissible
        "PrefillMealType" .PrefillMealType
        "PrefillRating" .PrefillRating
        "PrefillReview" .PrefillReview
        "T" .T
      ) }}
    {{ else }}
      {{ template "meal_unavailable_block.html" (dict
        "MealType" "dinner"
        "OpensAt" .DinnerAvailability.OpensAt
        "MinutesUntilOpen" .DinnerAvailability.MinutesUntilOpen
        "ServerNowISO" .ServerNowISO
        "T" .T
      ) }}
    {{ end }}
  </div>
{{ end }}