{{ define "vote_form_block.html" }}
  <div class="vote-form">
    <h2>{{ index .T "ui.vote_title" }}</h2>

    {{ if .VotingClosed }}
      <div class="ui-message ui-message--error vote-form__alert">
        <p>{{ .VotingClosedMessage }}</p>
      </div>
    {{ end }}

    <div class="shift-switcher">
      <span class="shift-switcher__label">{{ index .T "ui.shift_type" }}</span>
      {{ if .Vote }}
        <div class="shift-switcher__locked">
          {{ if eq .ShiftType "night" }}{{ index .T "ui.shift_night" }}{{ else }}{{ index .T "ui.shift_day" }}{{ end }}
        </div>
      {{ else }}
        <div class="shift-switcher__options">
          <a
            href="/fragments/vote-ui?device_id={{ .DeviceId }}&phone_model={{ .PhoneModel }}&browser={{ .Browser }}&shift_type=day"
            hx-get="/fragments/vote-ui?device_id={{ .DeviceId }}&phone_model={{ .PhoneModel }}&browser={{ .Browser }}&shift_type=day"
            hx-target="#vote-ui-container"
            hx-swap="innerHTML"
            class="{{ if eq .ShiftType "day" }}shift-switcher__option shift-switcher__option--active{{ else }}shift-switcher__option{{ end }}"
          >
            {{ index .T "ui.shift_day" }}
          </a>
          <a
            href="/fragments/vote-ui?device_id={{ .DeviceId }}&phone_model={{ .PhoneModel }}&browser={{ .Browser }}&shift_type=night"
            hx-get="/fragments/vote-ui?device_id={{ .DeviceId }}&phone_model={{ .PhoneModel }}&browser={{ .Browser }}&shift_type=night"
            hx-target="#vote-ui-container"
            hx-swap="innerHTML"
            class="{{ if eq .ShiftType "night" }}shift-switcher__option shift-switcher__option--active{{ else }}shift-switcher__option{{ end }}"
          >
            {{ index .T "ui.shift_night" }}
          </a>
        </div>
      {{ end }}
    </div>

    <form
      hx-post="/fragments/vote"
      hx-target="#vote-ui-container"
      hx-swap="innerHTML"
      hx-indicator="#vote-form-loading"
      class="js-vote-form"
    >
      <input type="hidden" name="device_id" value="{{ .DeviceId }}">
      <input type="hidden" name="shift_type" value="{{ .ShiftType }}">
      <input type="hidden" name="phone_model" value="{{ .PhoneModel }}">
      <input type="hidden" name="browser" value="{{ .Browser }}">

      {{ template "meal_form_block.html" (dict
        "ShiftType" .ShiftType
        "MealType" "breakfast"
        "Item" (findMeal .Vote "breakfast")
        "ActiveMeal" .ActiveMeal
        "VotingClosed" .VotingClosed
        "VotingClosedMessage" .VotingClosedMessage
        "SuccessMessage" .SuccessMessage
        "AccessRestricted" .AccessRestricted
        "AccessReason" .AccessReason
        "AccessDismissible" .AccessDismissible
        "PrefillMealType" .PrefillMealType
        "PrefillRating" .PrefillRating
        "PrefillReview" .PrefillReview
        "T" .T
      ) }}

      {{ template "meal_form_block.html" (dict
        "ShiftType" .ShiftType
        "MealType" "lunch"
        "Item" (findMeal .Vote "lunch")
        "ActiveMeal" .ActiveMeal
        "VotingClosed" .VotingClosed
        "VotingClosedMessage" .VotingClosedMessage
        "SuccessMessage" .SuccessMessage
        "AccessRestricted" .AccessRestricted
        "AccessReason" .AccessReason
        "AccessDismissible" .AccessDismissible
        "PrefillMealType" .PrefillMealType
        "PrefillRating" .PrefillRating
        "PrefillReview" .PrefillReview
        "T" .T
      ) }}

      {{ template "meal_form_block.html" (dict
        "ShiftType" .ShiftType
        "MealType" "dinner"
        "Item" (findMeal .Vote "dinner")
        "ActiveMeal" .ActiveMeal
        "VotingClosed" .VotingClosed
        "VotingClosedMessage" .VotingClosedMessage
        "SuccessMessage" .SuccessMessage
        "AccessRestricted" .AccessRestricted
        "AccessReason" .AccessReason
        "AccessDismissible" .AccessDismissible
        "PrefillMealType" .PrefillMealType
        "PrefillRating" .PrefillRating
        "PrefillReview" .PrefillReview
        "T" .T
      ) }}

      {{ if not .VotingClosed }}
        <div class="vote-submit-bar">
          <div class="vote-submit-bar__inner">
            <div class="vote-submit-bar__meta">
              <span class="vote-submit-bar__pending" hidden>{{ index .T "ui.unsaved_changes" }}</span>
              {{ if .SuccessMessage }}
                <span class="vote-submit-bar__success">✔ {{ index .T "ui.saved" }}</span>
              {{ end }}
            </div>

            <button class="vote-submit-bar__button" type="submit" disabled>
              {{ index .T "ui.save_all" }}
            </button>

            <span id="vote-form-loading" class="htmx-indicator vote-submit-bar__loading">
              {{ index .T "ui.saving" }}
            </span>
          </div>
        </div>
      {{ end }}
    </form>
  </div>
{{ end }}
