{{ define "vote_ui.html" }}
  <div
    id="vote-ui-container"
    data-access-restricted="{{ .AccessRestricted }}"
    data-access-reason="{{ .AccessReason }}"
  >
    {{ template "vote_form_block.html" . }}

    {{ if .SuccessMessage }}
      <div class="ui-message ui-message--success">
        <p>{{ .SuccessMessage }}</p>
      </div>
    {{ end }}

    {{ if .ErrorMessage }}
      <div class="ui-message ui-message--error">
        <p>{{ .ErrorMessage }}</p>
      </div>
    {{ end }}
  </div>
{{ end }}